.input {
  position: relative;
<<<<<<< HEAD
  margin-bottom: 24px;
=======
>>>>>>> c379fb90a55ce8b20ff678d092cbb64830b39424

  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &__control {
<<<<<<< HEAD
    padding: 16px 42px;
=======
    padding: 8px 24px;
>>>>>>> c379fb90a55ce8b20ff678d092cbb64830b39424
    width: 100%;
    font-size: 16px;
    line-height: 1.17;
    border: 1px solid var(--color-secondary-dark);
    border-radius: 8px;
    background-color: transparent;

<<<<<<< HEAD
    &__focus {
=======
    &:focus {
>>>>>>> c379fb90a55ce8b20ff678d092cbb64830b39424
      border-color: var(--color-brand-normal);
      outline: none;
    }

    &::placeholder {
      color: var(--color-secondary-dark);
      font-size: 16px;
      line-height: 1.17;
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }
}