.chef-section {
  &__title {
    position: relative;
    margin: 0 auto 80px;

    &::before,
    &::after {
      display: none;
      position: absolute;
      bottom: 24px;
      width: 352px;
      border: 2px solid var(--color-brand-light);
      content: "";
    }
  }  

    &::before {
      left: 0;
    }
    
    &::after {
      right: 0;
    }

  &__list {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    gap: 40px 30px;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
  
  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}

