.contact-section {
  padding-bottom: 96px;

  &__container {
    display: flex;
    gap: 32px;
  }

  &__title {
    margin-bottom: 16px;
  }
<<<<<<< HEAD

  &_form-field {
=======
  
  &__form-field {
>>>>>>> c379fb90a55ce8b20ff678d092cbb64830b39424
    margin-bottom: 24px;
  }

  &__button {
    display: block;
    margin: 0 auto 16px;
  }

  &__map {
    flex-shrink: 0;
<<<<<<< HEAD
    border: none;
    border-radius: 16px;
=======
    border-radius: 16px;
    border: none;
>>>>>>> c379fb90a55ce8b20ff678d092cbb64830b39424
  }
}




<<<<<<< HEAD
=======

>>>>>>> c379fb90a55ce8b20ff678d092cbb64830b39424
