.form-terms {
  margin: 0 auto;
  max-width: 220px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;

  &__link {
<<<<<<< HEAD
    color: var(--color-primary-dark-dark);
    text-underline-offset: 2px;
  }
}

=======
    color: var(--color-primary-dark);
    text-underline-offset: 2px;
  }
}
>>>>>>> c379fb90a55ce8b20ff678d092cbb64830b39424
