.formats-section {
  &__container {
    display: flex;
    align-items: center;
    gap: 32px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__item {
    flex-basis: calc((100% - 40px) / 3);
  }
}

<<<<<<< HEAD







=======
>>>>>>> c379fb90a55ce8b20ff678d092cbb64830b39424
